<!-- templates/teachers/teacher_list.html -->
{% extends 'base.html' %}

{% block title %} Docentes {% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Docentes</title>
</head>
<body>
    <h1>Profesores</h1>
     <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">CI</th>
                <th scope="col">Estado</th>
                <th scope="col" class="col-md-2 text-center"><button class="btn btn-primary" onclick= "window.location.href = '/teachers/create'"><i class="fa fa-plus"></i></button></th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teachers %}
            <tr>
                <td onclick= "window.location.href = '/teachers/{{ teacher.id }}'" style="cursor: pointer;">{{ teacher.name }}</td>
                <td>{{ teacher.lastName }}</td>
                <td>{{ teacher.ciNumber }}</td>
                {% if teacher.active %}
                    <td>Activo</td>
                {% else %}
                    <td>Inactivo</td>
                {% endif %}
                <td class="text-center"><button class="btn btn-danger" style="margin-top: 1%;" data-bs-toggle="modal" data-bs-target="#deleteModal" data-teacher-id="{{ teacher.id }}"><i class="fa fa-trash"></i></button><button class="btn btn-primary" style="margin-top: 1%; margin-left: 1%;"  onclick= "window.location.href = '/edit_teachers/{{ teacher.id }}'"><i class="fa fa-pencil"></i></button></td>
            </tr>
            {%  endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if teachers.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ teachers.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for num in teachers.paginator.page_range %}
            {% if teachers.number == num %}
            <li class="page-item active">
                <span class="page-link">{{ num }}</span>
            </li>
            {% elif num > teachers.number|add:'-3' and num < teachers.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if teachers.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ teachers.next_page_number }}" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ teachers.paginator.num_pages }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</body>
</html>

{% endblock %}