{% extends 'layout/base.html' %}

{% block content %}
<h2 class="mt-4 mb-3">Lista de Cursos</h2>

<form class="mb-3" method="GET" action="">
    <label for="activo" class="form-label">Filtrar por estado:</label>
    <select id="activo" name="activo" class="form-select">
        <option value="">Todos</option>
        <option value="1">Activos</option>
        <option value="0">No Activos</option>
    </select>
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Año</th>
      <th>Nombre del Curso</th>
      <th>Turno</th>
      <th>Sección</th>
      <th>Fecha de Inicio</th>
    </tr>
  </thead>
  <tbody>
    {% for curso in cursos %}
    <tr>
      <td>{{ curso.año }}</td>
      <td>{{ curso.nombre }}</td>
      <td>{{ curso.turno }}</td>
      <td>{{ curso.seccion }}</td>
      <td>{{ curso.fecha_inicio }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}