{% extends 'base.html' %}

{% block title %} Crear Persona {% endblock %}

{% block content %}
<div class="container card" style="padding: 1%;">
    <i class="fa fa-arrow-left" aria-hidden="true" onclick= "window.location.href = '/accounts/persons'" style="cursor: pointer;"></i>
    <h1>{{ person.name }}: </h1>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="id_name" name="name" value="{{ person.name }}" readonly >
        </div>
        <div class="form-group">
            <label for="id_last_name" class="form-label">Apellido:</label>
            <input type="text" class="form-control" id="id_last_name" value="{{ person.last_name }}" name="last_name" readonly >
        </div>
        <div class="form-group">
            <label for="id_email" class="form-label">Correo:</label>
            <input type="email" class="form-control" id="id_email" name="email" value="{{ person.email }}" readonly >
        </div>
        <div class="form-group">
            <label for="id_phone" class="form-label">Teléfono:</label>
            <input type="text" class="form-control" id="id_phone" name="phone" value="{{ person.phone }}" readonly >
        </div>
        <div class="form-group">
            <label for="id_address" class="form-label">Dirección:</label>
            <input type="text" class="form-control" id="id_address" name="address" value="{{ person.address }}" readonly >
        </div>
        <div class="form-group">
            <label for="id_city" class="form-label">Ciudad:</label>
            <input type="text" class="form-control" id="id_city" name="city" value="{{ person.city }}" readonly >
        </div>
        <div class="form-group">
            <label for="id_country" class="form-label">País:</label>
            <input type="text" class="form-control" id="id_country" name="country" value="{{ person.country }}" readonly >
        </div>
        <div class="form-group">
            <label for="id_postal_code" class="form-label">Código postal:</label>
            <input type="text" class="form-control" id="id_postal_code" name="postal_code" value="{{ person.postal_code }}" readonly >
        </div>
        <div class="form-group">
            <label for="id_birth_date" class="form-label">Fecha de nacimiento:</label>
            <input type="date" class="form-control" id="id_birth_date" name="birth_date" value="{{ person.birth_date }}" readonly >
        </div>
        {% if not person.user %}
            <button type="button" class="btn btn-primary" onclick="window.location.href = '/accounts/users/create'">Crear usuario</button>
        {% else %}
            <button type="button" class="btn btn-primary" onclick="window.location.href = '/accounts/users/{{ person.user.id }}'">Ver usuario</button>
        {% endif %}
    </form>
</div>
{% endblock %}
