<!-- Main jumbotron for a primary marketing message or call to action -->
<html lang="en">

<head>
    <title>{% block title %}Registrate{% endblock %}</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>

{% block content %}

<body>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Sistema de gestión</h1>
        </div>
    </div>

    <main role="main">
        <div class="container">
            <h1>Registro de Usuario</h1>
            <form method="post" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}" class="form-label">Username:</label>
                    <input type="text" class="form-control" id="{{ form.username.id_for_label }}"
                        name="{{ form.username.name }}">
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}" class="form-label">Email:</label>
                    <input type="email" class="form-control" id="{{ form.email.id_for_label }}"
                        name="{{ form.email.name }}">
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}" class="form-label">Password:</label>
                    <input type="password" class="form-control" id="{{ form.password1.id_for_label }}"
                        name="{{ form.password1.name }}">
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}" class="form-label">Confirm Password:</label>
                    <input type="password" class="form-control" id="{{ form.password2.id_for_label }}"
                        name="{{ form.password2.name }}">
                </div>
                <button type="submit" class="btn btn-primary">Registrarse</button>
                {% if form.errors %}
                <div class="alert alert-danger mt-3">
                    <ul>
                        {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </form>

        </div>
    </main>
</body>
{% endblock %}

</html>