{% extends 'base.html' %}

{% block title %} Detalles del Rol {% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container card" style="padding: 1%;">
  <div class="row">
      <div class="col">
          <i class="fa fa-arrow-left" aria-hidden="true" onclick= "window.location.href = '/accounts/roles'" style="cursor: pointer;"></i>
          <h1>Detalles del rol: {{ rol.name }}</h1>
      </div>
  </div>

  <div class="row">
    <div class="col">
        <div class="form-group">
            <label for="id_name" class="form-label">Nombre:</label>
            <input type="text" class="form-control" id="id_name" name="name" value="{{ role.name }}" disabled readonly>
        </div>
        {% for model_name, model_permissions in permissions_by_model.items %}
        <div class="form-group">
            <label class="form-label">{{ model_name }}</label>
            <ul style="text-align: left;">
                {% for permission in model_permissions %}
                <li>{{ permission.name }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
    </div>
</div>

  <div class="row">
      <div class="col">
          <a class="btn btn-primary" href="{% url 'role_edit' role.pk %}" role="button">Editar</a>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Eliminar</button>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirmar eliminación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar este rol?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" onclick="window.location.href = '/accounts/roles/{{ role.pk }}/delete'">Eliminar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
