{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
    <h1>Roles</h1>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col" class="col-md-2 text-center"><button class="btn btn-primary" onclick= "window.location.href = '/accounts/roles/create'"><i class="fa fa-plus"></i></button></th>
            </tr>
        </thead>
        <tbody>
            {% for rol in roles %}
            <tr>
                <td onclick= "window.location.href = '/accounts/roles/{{ rol.id }}'" style="cursor: pointer;">{{ rol.name }}</td>
                <td class="text-center"><button class="btn btn-danger" style="margin-top: 1%;" data-bs-toggle="modal" data-bs-target="#deleteModal" data-role-id="{{ rol.id }}"><i class="fa fa-trash"></i></button><button class="btn btn-primary" style="margin-top: 1%; margin-left: 1%;"  onclick= "window.location.href = '/accounts/roles/{{ rol.id }}/edit'"><i class="fa fa-pencil"></i></button></td>
            </tr>
            {%  endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirmar eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar este rol?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a id="deleteButton" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>

<script>
  var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'), {
    keyboard: false
  });

  $('#deleteModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget);
    var roleId = button.data('role-id');
    var modal = $(this);
    modal.find('#deleteButton').attr('href', '/accounts/roles/' + roleId + '/delete');
  });
</script>

{% endblock %}