{% extends 'base.html' %}

{% block title %} Editar Usuario {% endblock %}

{% block content %}
<div class="container card" style="padding: 1%;">
    <div class="row">
        <div class="col">
           <i class="fa fa-arrow-left" aria-hidden="true" onclick= "window.location.href = '/accounts/roles/{{ role.id }}'" style="cursor: pointer;"></i>
            <h1>Editar Rol: {{ role.name }}</h1> 
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="id_name" name="name" value="{{ role.name }}">
                </div>
                <div class="form-group">
                    {% for model_name, permissions in permissions_by_model.items %}
                    <label class="form-label">{{ model_name }}</label>
                    <div class="checkbox-group" style="text-align: left;">
                        {% for permission in permissions %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="permission_{{ permission.id }}" value="{{ permission.id }}"
                                {% if permission in role_permissions %} checked {% endif %}>
                            <label class="form-check-label" for="permission_{{ permission.id }}">{{ permission.name }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>                
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}
