{% extends 'base.html' %}

{% block title %} Cambiar Contraseña {% endblock %}

{% block content %}
<div class="container card" style="padding: 1%;">
    <i class="fa fa-arrow-left" aria-hidden="true" onclick= "window.location.href = ''" style="cursor: pointer;"></i>
    <h1>Cambiar contraseña:</h1>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username" class="form-label">Nombre de usuario:</label>
            <input type="text" class="form-control" id="id_username" name="username" value="{{ user.username }}" readonly>
        </div>
        <div class="form-group">
            <label for="id_password" class="form-label">Nueva contraseña:</label>
            <input type="text" class="form-control" id="id_password" name="password">
        </div>
        <div class="form-group">
            <label for="id_password2" class="form-label">Confirmar nueva contraseña:</label>
            <input type="text" class="form-control" id="id_password2" name="password2">
        </div>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <ul>
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger mt-3">
                <ul>
                    <li>{{ error }}</li>
                </ul>
            </div>
        {% endif %}
    </form>
</div>
{% endblock %}
