{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
    <h1>Usuarios</h1>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Rol</th>
                <th scope="col">Estado</th>
                <th scope="col" class="col-md-2 text-center"><button class="btn btn-primary" onclick= "window.location.href = '/accounts/users/create'"><i class="fa fa-plus"></i></button></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td onclick= "window.location.href = '/accounts/users/{{ user.id }}'" style="cursor: pointer;">{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.role }}</td>
                {% if user.is_active %}
                    <td>Activo</td>
                {% else %}
                    <td>Inactivo</td>
                {% endif %}
                <td class="text-center"><button class="btn btn-danger" style="margin-top: 1%;" data-toggle="modal" data-target="#deleteModal" data-user-id="{{ user.id }}"><i class="fa fa-trash"></i></button><button class="btn btn-primary" style="margin-top: 1%; margin-left: 1%;"  onclick= "window.location.href = '/accounts/users/{{ user.id }}/edit'"><i class="fa fa-pencil"></i></button></td>
            </tr>
            {%  endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirmar eliminación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Estás seguro de que deseas eliminar este usuario?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <a id="deleteButton" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>

<script>
    $('#deleteModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget);
        var userId = button.data('user-id');
        var modal = $(this);
        modal.find('#deleteButton').attr('href', '/accounts/users/' + userId + '/delete');
    });
</script>

{% endblock %}