{% extends 'base.html' %}

{% load static %}

{% block title %} Crear Usuario {% endblock %}

{% block content %}
<div class="container card" style="padding: 1%;">
    <i class="fa fa-arrow-left" aria-hidden="true" onclick="window.location.href = '/accounts/users'" style="cursor: pointer;"></i>
    <h1>Crear usuario:</h1>
    <div class="alert alert-warning" style="align-self: center; width: 85%;">  
        <p>Nota: la contraseña debe cambiarse obligatoriamente una vez realizado el primer inicio de sesión. El nombre de usuario 
            y la contraseña se generan automáticamente a partir del nombre y apellido de la persona. La contraseña 
            generada se proveerá al usuario por medio de un mensaje de correo electrónico.</p>
    </div>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="searchInput" class="form-label">Buscar persona:</label>
            <input type="text" id="searchInput" placeholder="Buscar persona" style="width: 40%; margin-bottom: 10px;" class="form-control">
        </div>
        <div class="form-group">
            <label for="id_person" class="form-label">Persona:</label>
            <select class="form-select" id="id_person" name="person" style="width: 40%" required>
                <option value="" selected>Seleccionar persona</option>
                {% for person in persons %}
                    <option value="{{ person.id }}">{{ person.ci }} - {{ person.name }} {{ person.last_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="id_username" class="form-label">Nombre de usuario:</label>
            <input type="text" class="form-control" id="id_username" name="username" readonly required>
        </div>
        <div class="form-group" style="display: none;">
            <label for="id_password" class="form-label">Contraseña:</label>
            <input type="text" class="form-control" id="id_password" name="password" readonly required>
        </div>
        <div class="form-group">
            <label for="id_group" class="form-label">Rol:</label>
            <select class="form-select" id="id_group" name="group" style="width: 40%" required>
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>        
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <ul>
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger mt-3">
                <ul>
                    <li>{{ error }}</li>
                </ul>
            </div>
        {% endif %}
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_person').on('change', function() {
            console.log('Cambio');
            console.log($('#id_person').val());
            if ($('#id_person').val() == '') {
                $('#id_username').val('');
                $('#id_password').val('');
            } else {
                var person = $('#id_person option:selected').text();
                var names = person.split(' ');
                var username = names[0].charAt(0) + names[1];
                $('#id_username').val(username.toLowerCase());
                var password = names[0].charAt(0) + names[1] + '123';
                $('#id_password').val(password.toLowerCase());
            }
        });
        
        $('#searchInput').on('input', function() {
            var filter = $(this).val().toLowerCase();
            $('#id_person option').each(function() {
                var optionText = $(this).text().toLowerCase();
                $(this).toggle(optionText.includes(filter));
            });
        });
        
        $('#id_person').change();
    });
</script>

{% endblock %}
