{% extends 'base.html' %}

{% load static %}

{% block title %} Crear Usuario {% endblock %}

{% block content %}
<div class="container card" style="padding: 1%;">
    <i class="fa fa-arrow-left" aria-hidden="true" onclick= "window.location.href = '/accounts/users'" style="cursor: pointer;"></i>
    <h1>Crear usuario:</h1>
    <div class="alert alert-warning" style="align-self: center; width: 85%;">  
        <p>Nota: la contraseña debe cambiarse obligatoriamente una vez realizado el primer inicio de sesión. El nombre de usuario 
            y la contraseña se generan automáticamente a partir del nombre y apellido de la persona. La contraseña 
            generada se proveerá al usuario por medio de un mensaje de correo electrónico.</p>
    </div>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_person" class="form-label">Persona:</label>
            <select class="form-select" id="id_person" name="person" style="width: 40%" aria-readonly="true">
                <option value="{{ person.id }}" selected>{{ person.name }} {{ person.last_name }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="id_username" class="form-label">Nombre de usuario:</label>
            <input type="text" class="form-control" id="id_username" name="username" readonly>
        </div>
        <div class="form-group" style="display: none;">
            <label for="id_password" class="form-label">Contraseña:</label>
            <input type="text" class="form-control" id="id_password" name="password" readonly>
        </div>
        <!-- Agregar campos del formulario UserRolesForm -->
        <div class="form-group">
            <label for="id_group" class="form-label">Rol:</label>
            <select class="form-select" id="id_group" name="group" style="width: 40%">
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endfor %}
            </select>
        </div>        
        <!-- Fin de los campos del formulario UserRolesForm -->
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <ul>
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% if error %}
            <div class="alert alert-danger mt-3">
                <ul>
                    <li>{{ error }}</li>
                </ul>
            </div>
        {% endif %}
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Escuchar el evento de cambio en el campo id_person
        $('#id_person').on('change', function() {
            console.log('Cambio');
            console.log($('#id_person').val());
            if ($('#id_person').val() == '') {
                $('#id_username').val('');
                $('#id_password').val('');
                $('#id_password2').val('');
            } else {
                // Obtener el objeto seleccionado
                var person = $('#id_person option:selected').text();
                // Dividir el texto en nombre y apellido
                var names = person.split(' ');
                // Construir el nombre de usuario usando la primera letra del nombre y el apellido
                var username = names[0].charAt(0) + names[1];
                // Establecer el valor del campo de nombre de usuario
                $('#id_username').val(username.toLowerCase());
    
                var password = names[0].charAt(0) + names[1] + '123';
                $('#id_password').val(password.toLowerCase());
            }
        });
    
        // Ejecutar el evento de cambio una vez al cargar la página
        $('#id_person').change();
    });
    
</script>

{% endblock %}
