{% extends 'base.html' %}

{% block title %} Editar Concepto {% endblock %}

{% block content %}
<div class="container card" style="padding: 1%;">
    <div class="row">
        <div class="col">
           <i class="fa fa-arrow-left" aria-hidden="true" onclick= "window.location.href = '/concepts/{{ concept.id }}'" style="cursor: pointer;"></i>
            <h1>Editar Concepto: {{ concept.description }}</h1> 
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post" class="form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="id_name" name="name" value="{{ concept.name }}" required>
                </div>
                <div class="form-group">
                    <label for="id_description" class="form-label">Descripción:</label>
                    <input type="text" class="form-control" id="id_description" name="description" value="{{ concept.description }}" required>
                </div>         
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}
