{% extends 'base.html' %}

{% block title %} Matrículas {% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container py-4">
    {% csrf_token %}
    <h1>Matrículas</h1>
    
    <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'enrollment_create' %}'">+ Agregar matrícula</button>
    <table id="enrollmentTable" class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Curso</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for enrollment in enrollments %}
            <tr id={{enrollment.id}}>
                <td>{{ forloop.counter }}</td>
                <td>{{ enrollment.course.name }}</td>
                <td class="acciones-container">
                    <div class="acciones">
                        <a class="btn btn-primary" href="{% url 'enrollment_detail' enrollment.id  %}">
                            <i class="fa-solid fa-eye"></i>
                        </a>

                        {% if enrollment.can_edit %}
                            <a class="btn btn-primary editar" href="{% url 'enrollment_edit' enrollment.id %}" data-id={{enrollment.id}}>
                                <i class="fa-solid fa-pencil editar" data-id={{enrollment.id}}></i>
                            </a>
                        {% endif %}
                        <button data-id={{enrollment.id}} type="button" class="btn btn-danger" data-bs-toggle="modal" id="deleteButton"
                            data-bs-target="#staticBackdrop">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </div>
                </td>
            </tr>
            {%  endfor %}
        </tbody>
    </table>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-4" id="staticBackdropLabel">Inhabilitar matricula</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fs-4">
                Esta seguro que quiere inhabilitar esta matricula?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="delete" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- Include DataTables scripts and initialize the table -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#enrollmentTable').DataTable({
        language: {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando página _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros disponibles",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Buscar:",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }
    });

    const d = document;
 
    const acceptButton = d.getElementById('delete')
    acceptButton.addEventListener('click', async(e) => {
        const deleteButton = d.getElementById('deleteButton')
        const id = deleteButton.dataset.id
        console.log(deleteButton)
        await fetch(`/enrollment_eliminar/${id}/`)
    });
});
</script>

{% endblock %}
