{% extends 'base.html' %}

{% block title %} Matrícula {% endblock %}
{% load static %}

{% block content %}
<form class="container card" style="padding: 1%;" id="form">
    {% csrf_token %}
    <i class="fa fa-arrow-left" aria-hidden="true" onclick= "window.location.href = '/enrollments'" style="cursor: pointer;"></i>
    <div class="d-flex  flex-column w-full">
        <h1>Matrícula: {{ enrollments.0.enrollment.name }} </h1>
        <label>Fecha inicio de matriculacion: {{enrollments.0.enrollment.enrollment_start_date}}</label>
        <label>Fecha fin de matriculacion: {{enrollments.0.enrollment.enrollment_end_date}}</label>
        <label>Cantidad de cupos: {{enrollments.0.enrollment.course.space_available}}</label>
        <div class="d-flex align-items-center justify-content-start w-full gap-4 my-4">
            <h2 class="m-0">Alumnos matriculados</h2>
            
            <button id="submit_button" type="submit" class="btn btn-primary" data-course="{{enrollments.0.enrollment.course.name}}" >Descargar PDF</button>
        </div>
    </div>
    <table id="student_table" name="student_table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Numero de Cedula</th>
                <!-- <th>Matricular</th> -->
            </tr>
        </thead>
        <tbody class="tbody-table">
            {% for enrollment in enrollments %}
            <tr>
                <td>{{enrollment.student.name}}</td>
                <td>{{enrollment.student.lastName}}</td>
                <td>{{enrollment.student.ciNumber}}</td>
                <!-- <td>
                    <input value="{{student.id}}" name="{{student.id}}"  type="checkbox"/>
                </td> -->
            </tr>
            {% endfor %}
            <tr></tr>
        </tbody>
    </table>
    <!-- <form method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_student" class="form-label">Estudiante:</label>
            <input type="text" class="form-control" id="id_student" name="student" value="{{ enrollment.student.ciNumber }}" disabled readonly>
        </div>
        <div class="form-group">
            <label for="id_year" class="form-label">Año:</label>
            <input type="number" class="form-control" id="id_year" name="year" value="{{ enrollment.year }}" disabled readonly>
        </div>
        <div class="form-group">
            <label for="id_enrollment_date" class="form-label">Fecha:</label>
            <input type="date" class="form-control" id="id_enrollment_date" name="enrollment_date" value="{{ enrollment.enrollment_date }}" disabled readonly>
        </div>
        <div class="form-group">
            <label for="id_enrollment_amount" class="form-label">Monto:</label>
            <input type="text" class="form-control" id="id_enrollment_amount" value="{{ enrollment.enrollment_amount }}" name="enrollment_amount" disabled readonly>
        </div>
        <div class="form-group">
            <label for="id_enrollment_paid_amount" class="form-label">Monto pagado:</label>
            <input type="text" class="form-control" id="id_enrollment_paid_amount" value="{{ enrollment.enrollment_paid_amount }}" name="enrollment_paid_amount" disabled readonly>
        </div>
        <div class="form-group">
            <label for="id_state" class="form-label">Estado:</label>
            <input type="text" class="form-control" id="id_state" value="{{ enrollment.state.description }}" name="id_state" disabled readonly>
        </div>
        {% if not has_fees %}
        <button type="button" class="btn btn-primary" onclick= "window.location.href = '/fees/create_fees/{{ enrollment.student.id }}'">Crear cuotas</button>
        {% endif %}
        {% if has_fees %}
        <button type="button" class="btn btn-primary" onclick= "window.location.href = '/enrollments/{{ enrollment.id }}/detail_payment'">Ver detalle de pago</button>
        {% endif %}
    </form> -->
</form>
<script src="{% static 'scripts/detail_enrollment.js' %}"></script>
{% endblock %}
