{% extends 'base.html' %}
{% load static %}

{% block title %} Crear Matrícula {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/formStyles.css' %}">
<div class="container card" style="padding: 1%;">
    <i class="fa fa-arrow-left" aria-hidden="true" onclick="window.location.href = '/enrollments'"
        style="cursor: pointer;"></i>
    <h1>Crear matrícula: </h1>
    <form method="post" class="form p-1 py-4" id="enrollment_form" action="/enrollments/create/">
        {% csrf_token %}
        <div class="form-group w-100 d-flex align-items-center justify-content-center gap-4">
            <article class="w-100">
                <label for="id_course" class="form-label">Curso:</label>
                <select class="form-select w-100" id="id_course" name="course" style="width: 40%" required>
                    <option value="" selected disabled>Seleccionar curso</option>
                    {% for course in courses %}
                    <option value="{{ course.id }}">{{ course.name }}</option>
                    {% endfor %}
                </select>
            </article>
            <!-- <article class="w-50">
                <label for="id_enrollment_date" class="form-label">Fecha:</label>
                <input type="date" class="form-control" id="id_enrollment_date" disabled name="enrollment_date" required>
            </article> -->
        </div>

        <div class="form-group w-100 d-flex gap-4 mt-4">
            <article class="w-50">
                <label class="form-label">Fecha de inicio de matriculacion</label>
                <input type="date" name="enrollment_start_date" id="enrollment_start_date" class="form-control"
                    value="{{curso.enrollment_start_date}}" required disabled 
                    title="Esta campo es obligatorio"
                     />
                <span class="error-message"></span>
            </article>
            <article class="w-50">
                <label class="mb-2 form-label">Fecha fin de matriculacion</label>
                <input type="date" name="enrollment_end_date" id="enrollment_end_date" class="form-control"
                    value="{{curso.enrollment_end_date}}" required disabled />
                <span class="error-message"></span>
            </article>

        </div>

        <div class="form-group w-100 d-flex gap-4 mt-4">
            <article class="w-50">
                <label for="start_date" class="form-label">Fecha de Inicio de las clases</label>
                <input  disabled class="form-control" value="{{curso.start_date}}" id="start_date" type="date" name="start_date" required />
                <span class="error-message"></span>
            </article>
            <article class="w-50">
                <label for="end_date" class="form-label">Fecha de Fin de las clases</label>
                <input  disabled class="form-control" id="end_date" type="date" name="end_date" value="{{curso.end_date}}" required />
                <span class="error-message"></span>
            </article>
        </div>


        <div class="form-group w-100 d-flex gap-4">

            <article class="w-50">
                <label for="id_enrollment_amount" class="form-label mb-2 mt-2">Monto Matricula</label>
                <input type="text" class="form-control" id="id_enrollment_amount" disabled />
            </article>

            <article class="w-50">
                <label for="id_enrollment_amount" class="form-label mb-2 mt-2">Monto Cuota</label>
                <input type="text" class="form-control" id="id_fee_amount" disabled />
            </article>
        </div>


        <div class="form-group d-flex gap-4 mb-4">

            <article class="w-50">
                <label for="id_enrollment_amount" class="form-label mb-2 mt-2">Cantidad Minima de alumnos</label>
                <input type="text" class="form-control" id="minStudentsNumber" disabled />
            </article>

            <article class="w-50">
                <label for="id_enrollment_amount" class="form-label mb-2 mt-2">Cantidad Maxima de alumnos</label>
                <input type="text" class="form-control" id="maxStudentsNumber" disabled />
            </article>
        </div>

        <div class="form-group d-flex gap-4 mb-4 w-100">
            <article class="w-50">
                <label for="space_available" class="form-label mb-2 mt-2">Cantidad de cupos</label>
                <input type="text" class="form-control" id="space_available" disabled />
            </article>
            <!-- <article class="w-50">
                <label for="student_quantity" class="form-label mb-2 mt-2">Cantidad de alumnos seleccionados</label>
                <input type="text" class="form-control" id="student_quantity" value="0" disabled />
            </article> -->
        </div>

        {% if form.errors %}
        <div class="alert alert-danger mt-3">
            <ul>
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if error %}
        <div class="alert alert-danger mt-3">
            <ul>
                <li>{{ error }}</li>
            </ul>
        </div>
        {% endif %}

        <div class="d-flex flex-column align-items-center justify-content-center">
            <button type="submit" class="btn btn-primary" disabled id="create_enrollment_button">Crear matricula</button>
            <span id="succes_message"></span>
        </div>
    </form>
</div>
<script src="{% static 'scripts/create_enrollment.js' %}"></script>

{% endblock %}