{% extends 'base.html' %}

{% block title %} Cuotas {% endblock %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container">
    <h1>Cuotas</h1>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Cuota</th>
                <th scope="col">Estudiante</th>
                <th scope="col">Año</th>
                <th scope="col">Fecha</th>
                <th scope="col">Fecha de vencimiento</th>
                <th scope="col">Monto</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for fee in fees %}
            <tr onclick="window.location.href='/fees/{{ fee.id }}';" style="cursor: pointer;">
                <td>{{ fee.name }}</td>
                <td>{{ fee.student.name }} {{ fee.student.lastName }}</td>
                <td>{{ fee.year }}</td>
                <td>{{ fee.fee_date }}</td>
                <td>{{ fee.expiration_date }}</td>
                <td>{{ fee.fee_amount }}</td>
                <td>{{ fee.state.description }}</td>
            </tr>    
            {%  endfor %}
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if fees.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ fees.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for num in fees.paginator.page_range %}
            {% if fees.number == num %}
            <li class="page-item active">
                <span class="page-link">{{ num }}</span>
            </li>
            {% elif num > fees.number|add:'-3' and num < fees.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if fees.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ fees.next_page_number }}" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ fees.paginator.num_pages }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}