<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Factura {{ invoice.name }}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #f4f4f4;
        }
        .container {
            width: 60%;
            margin: 0 auto;
            background: white;
            padding: 20px;
        }
        .invoice-details, .client-details {
            margin-bottom: 20px;
        }
        .invoice-details table, .client-details table, .payment-details table, .total-details table, .iva-details table{
            width: 100%;
            border: 1px solid black;
            border-collapse: collapse;
        }
        .invoice-details td, .client-details td, .payment-details td, .total-details td, .iva-details td {
            padding: 5px;
            border-left: 1px solid black;
            border-right: 1px solid black;
        }
        .client-details tr, .payment-details tr, .total-details tr, .iva-details tr {
            border-bottom: 1px solid black;
        }
        span {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="invoice-details">
            <table>
                <tr>
                    <td style="width: 60%;">
                        <table style="border: none;">
                            <tr>
                                <td style="border: none;">
                                    <h3>KATUPYRY</h3>
                                </td>
                            </tr>
                            <tr>
                                <td style="border: none;">
                                    Cnel. Lirio N° 2020 c/ Trejo y Sanabria
                                </td>
                            </tr>
                            <tr>
                                <td style="border: none;">
                                    Telefono: 0981 123 456
                                </td>
                            </tr>
                            <tr>
                                <td style="border: none;">
                                    Asunción, Paraguay
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 40%;">
                        <table style="border: none;">
                            <tr>
                                <td style="border: none;">
                                    <span>Timbrado N°: </span>{{ invoice.stamping.number }}
                                </td>
                            </tr>
                            <tr>
                                <td style="border: none;">
                                    <span>Fecha de inicio de vigencia: </span>{{ invoice.stamping.valid_from }}
                                </td>
                            </tr>
                            <tr>
                                <td style="border: none;">
                                    <span>Fecha de fin de vigencia: </span>{{ invoice.stamping.valid_until }}
                                </td>
                            </tr>
                            <tr>
                                <td style="border: none;">
                                    <span>RUC: </span>135489-8
                                </td>
                            </tr>
                            <tr>
                                <td style="border: none;">
                                    <span>Factura N°: </span>{{ invoice.name }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

        <div class="client-details">
            <table>
                <tr>
                    <td><span>Fecha de emision: </span>{{ invoice.date }}</td>
                    <td><span>Condición de venta: </span>Contado</td>
                </tr>
                <tr>
                    <td>
                        <span>Ruc: </span>{{ invoice.client.ciNumber }}
                    </td>
                    <td>
                        <span>Nota de remision:</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Nombre o razon social: </span>{{ invoice.client.name }} {{ invoice.client.lastName }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Direccion:</span>
                    </td>
                </tr>
            </table>
        </div>

        <div class="payment-details">
            <table>
                <thead>
                    <tr>
                        <td><span>Cantidad</span></td>
                        <td><span>Descripción</span></td>
                        <td><span>Precio unitario</span></td>
                        <td><span>Exentas</span></td>
                        <td><span>Gravadas 5%</span></td>
                        <td><span>Gravadas 10%</span></td>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in invoice_details %}
                    <tr>
                        <td>1</td>
                        <td>{{ detail.concept.name }}</td>
                        <td>{{ detail.amount }}</td>
                        {% if detail.concept.iva == '0' %}
                            <td>{{ detail.amount }}</td>
                            <td>0</td>
                            <td>0</td>
                        {% endif %}
                        {% if detail.concept.iva == '5' %}
                            <td>0</td>
                            <td>{{ detail.amount }}</td>
                            <td>0</td>
                        {% endif %}
                        {% if detail.concept.iva == '10' %}
                            <td>0</td>
                            <td>0</td>
                            <td>{{ detail.amount }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3"><span>Sub-totales</span></td>
                        <td>{{ exentas }}</td>
                        <td>{{ iva5 }}</td>
                        <td>{{ iva10 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="total-details">
            <table style="border-top: none">
                <tr>
                    <td><span>Total a pagar (en letras): </span>{{ invoice_amount_in_letters }} guaraníes</td>
                    <td style="width:20%; text-align: right;">{{ invoice.amount }}</td>
                </tr>
            </table>
        </div>

        <div class="iva-details">
            <table style="border-top: none">
                <tr>
                    <td style="border: none">
                        <span>Liquidación de IVA 5%: </span>{{ invoice.iva_5 }}
                    </td>
                    <td style="border: none">
                        <span>Liquidación de IVA 10%: </span>{{ invoice.iva_10 }}
                    </td>
                    <td style="border: none">
                        <span>Total IVA: </span>{{ invoice.iva_total }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
