{% extends 'base.html' %}

{% block title %} Crear Pago {% endblock %}

{% block content %}
<div class="container card" style="padding: 1%;">
    <i class="fa fa-arrow-left" aria-hidden="true" onclick= "window.location.href = '/payments'" style="cursor: pointer;"></i>
    <h1>Crear pago: </h1>
    <form method="post" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_student" class="form-label">Estudiante:</label>
            <select class="form-select" id="id_student" name="student" style="width: 40%" required>
                <option value="" selected>Seleccionar estudiante</option>
                {% for student in students %}
                    <option value="{{ student.id }}">{{ student.ciNumber }} - {{ student.lastName }}</option>
                {% endfor %}
            </select>
        </div> 
        <div class="form-group">
            <label for="id_year" class="form-label">Año:</label>
            <input type="number" class="form-control" id="id_year" name="year" required>
        </div>
        <div class="form-group">
            <label for="id_payment_date" class="form-label">Fecha:</label>
            <input type="date" class="form-control" id="id_payment_date" name="payment_date" required>
        </div>
        <div class="form-group">
            <label for="id_payment_amount" class="form-label">Monto:</label>
            <input type="number" class="form-control" id="id_payment_amount" name="payment_amount" required>
        </div>
        <div class="form-group">
            <label for="id_payment_method" class="form-label">Método:</label>
            <select class="form-select" id="id_payment_method" name="payment_method" style="width: 40%" required>
                <option value="" selected>Seleccionar metodo de pago</option>
                {% for payment_method in payment_methods %}
                    <option value="{{ payment_method.id }}">{{ payment_method.description }}</option>
                {% endfor %}
            </select>
        </div> 
        <div class="form-group">
            <label for="id_payment_type" class="form-label">Tipo:</label>
            <select class="form-select" id="id_payment_type" name="payment_type" style="width: 40%" required>
                <option value="" selected>Seleccionar tipo de pago</option>
                {% for payment_type in payment_types %}
                    <option value="{{ payment_type.id }}">{{ payment_type.description }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group" id="fee_field" style="display: none;">
            <label for="id_fee" class="form-label">Cuota:</label>
            <select class="form-select" id="id_fee" name="fee" style="width: 40%" required>
                <option value="" selected>Seleccionar cuota</option>
                {% for fee in fees %}
                    <option value="{{ fee.id }}">{{ fee.id }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group" id="enrollment_field" style="display: none;">
            <label for="id_enrollment" class="form-label">Matrícula:</label>
            <select class="form-select" id="id_enrollment" name="enrollment" style="width: 40%" required>
                <option value="" selected>Seleccionar matricula</option>
                {% for enrollment in enrollments %}
                    <option value="{{ enrollment.id }}">{{ enrollment.id }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        {% if form.errors %}
            <div class="alert alert-danger mt-3">
                <ul>
                    {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </form>
</div>

<script>
    window.onload = function() {
        toggleFields();
    };

    function toggleFields() {
        var paymentType = document.getElementById('id_payment_type');
        var paymentTypeText = paymentType.options[paymentType.selectedIndex].text;
        var feeField = document.getElementById('fee_field');
        var enrollmentField = document.getElementById('enrollment_field');

        if (paymentTypeText == "Matrícula") {
            enrollmentField.style.display = "block";
        } else {
            enrollmentField.style.display = "none";
        }

        if (paymentTypeText == "Cuota") {
            feeField.style.display = "block";
        } else {
            feeField.style.display = "none";
        }
    }
</script>

<script>
    document.getElementById('id_payment_type').onchange = function() {
        toggleFields();
    };
</script>

{% endblock %}
