{% extends 'base.html' %}

{% block title %}Pagos Pendientes{% endblock %}

{% block content %}
<div class="container card" style="padding: 1%;">
    <i class="fa fa-arrow-left" aria-hidden="true" onclick="window.location.href = '/payments/search_pending_payments'" style="cursor: pointer;"></i>
    <h1>Pagos Pendientes para {{ student.name }}</h1>

    <form method="POST" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_student" class="form-label">Estudiante:</label>
            <input type="text" class="form-control" id="id_student" name="student" value="{{ student.ciNumber }}" readonly>
        </div>
        <h2>Cuotas Pendientes</h2>
        <table class="table table-hover table-bordered table-striped" id="feesTable">
            <thead>
                <tr>
                    <th scope="col">Seleccionar</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Año</th>
                    <th scope="col">Fecha de Vencimiento</th>
                    <th scope="col">Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for fee in pending_fees %}
                <tr>
                    <td><input type="checkbox" class="fee-checkbox" name="selected_fees" value="{{ fee.id }}"></td>
                    <td>{{ fee.name }}</td>
                    <td>{{ fee.year }}</td>
                    <td>{{ fee.expiration_date }}</td>
                    <td>{{ fee.fee_amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Matrículas Pendientes</h2>
        <table class="table table-hover table-bordered table-striped" id="enrollment_detail_detailsTable">
            <thead>
                <tr>
                    <th scope="col">Seleccionar</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Matrícula</th>
                    <th scope="col">Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for enrollment_detail_detail in pending_enrollment_detail_details %}
                <tr>
                    <td><input type="checkbox" class="enrollment_detail-checkbox" name="selected_enrollment_detail_details" value="{{ enrollment_detail.id }}"></td>
                    <td>{{ enrollment_detail_detail.name }}</td>
                    <td>{{ enrollment_detail_detail.enrollment.name }}</td>
                    <td>{{ enrollment_detail_detail.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-success">Crear factura</button>
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const feeCheckboxes = document.querySelectorAll('.fee-checkbox');
    const enrollment_detailCheckboxes = document.querySelectorAll('.enrollment_detail-checkbox');

    function toggleCheckboxes(checkboxes) {
        for (let i = 0; i < checkboxes.length; i++) {
            if (i > 0) {
                checkboxes[i].disabled = true;
            }
            checkboxes[i].addEventListener('change', function() {
                if (this.checked) {
                    if (i + 1 < checkboxes.length) {
                        checkboxes[i + 1].disabled = false;
                    }
                } else {
                    for (let j = i + 1; j < checkboxes.length; j++) {
                        checkboxes[j].disabled = true;
                        checkboxes[j].checked = false;
                    }
                }
            });
        }
    }

    toggleCheckboxes(feeCheckboxes);
    toggleCheckboxes(enrollment_detailCheckboxes);
});
</script>
{% endblock %}
