{% extends 'base.html' %}

{% block title %}Pagos Pendientes{% endblock %}

{% block content %}
<div class="container card" style="padding: 1%;">
    <i class="fa fa-arrow-left" aria-hidden="true" onclick="window.location.href = '/payments/search_pending_payments'" style="cursor: pointer;"></i>
    <h1>Pagos Pendientes para {{ student.name }}</h1>

    <form method="POST" class="form">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_student" class="form-label">Estudiante:</label>
            <input type="text" class="form-control" id="id_student" name="student" value="{{ student.ciNumber }}" readonly>
        </div>
        <h2>Cuotas Pendientes</h2>
        <table class="table table-hover table-bordered table-striped" id="feesTable">
            <thead>
                <tr>
                    <th scope="col">Seleccionar</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Año</th>
                    <th scope="col">Fecha de Vencimiento</th>
                    <th scope="col">Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for fee in pending_fees %}
                <tr>
                    <td><input type="checkbox" class="fee-checkbox" name="selected_fees" value="{{ fee.id }}" disabled></td>
                    <td>{{ fee.name }}</td>
                    <td>{{ fee.year }}</td>
                    <td>{{ fee.expiration_date }}</td>
                    <td>{{ fee.fee_amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Matrículas Pendientes</h2>
        <table class="table table-hover table-bordered table-striped" id="enrollment_detail_detailsTable">
            <thead>
                <tr>
                    <th scope="col">Seleccionar</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Matrícula</th>
                    <th scope="col">Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for enrollment_detail in pending_enrollment_details %}
                <tr>
                    <td><input type="checkbox" class="enrollment_detail-checkbox" name="selected_enrollment_details" value="{{ enrollment_detail.id }}"></td>
                    <td>{{ enrollment_detail.student.name }}</td>
                    <td>{{ enrollment_detail.enrollment.name }}</td>
                    <td>{{ enrollment_detail.amount }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-success">Mostrar resumen de pago</button>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Seleccionamos todos los checkboxes de fees y enrollments
        const feeCheckboxes = document.querySelectorAll('.fee-checkbox');
        const enrollmentCheckboxes = document.querySelectorAll('.enrollment_detail-checkbox');

        // Función para deshabilitar y deseleccionar todos los checkboxes de fees
        function disableAndUncheckFees() {
            feeCheckboxes.forEach(checkbox => {
                checkbox.disabled = true;
                checkbox.checked = false;
            });
        }

        // Función para actualizar el estado de los checkboxes de fees
        function updateFeeCheckboxes() {
            const allEnrollmentChecked = Array.from(enrollmentCheckboxes).every(checkbox => checkbox.checked);
            if (allEnrollmentChecked || enrollmentCheckboxes.length === 0) {
                feeCheckboxes.forEach((checkbox, index) => {
                    checkbox.disabled = index === 0 ? false : !feeCheckboxes[index - 1].checked;
                });
            } else {
                disableAndUncheckFees();
            }
        }

        // Actualizar el estado de los checkboxes de fees cuando se cargue la página
        updateFeeCheckboxes();

        // Actualizar el estado de los checkboxes de fees cuando cambie el estado de los checkboxes de enrollments
        enrollmentCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', () => {
                updateFeeCheckboxes();
                if (!checkbox.checked) {
                    disableAndUncheckFees();
                }
            });
        });

        // Permitir habilitar los checkboxes de fees progresivamente
        feeCheckboxes.forEach((checkbox, index) => {
            checkbox.addEventListener('change', () => {
                if (checkbox.checked && index < feeCheckboxes.length - 1) {
                    feeCheckboxes[index + 1].disabled = false;
                } else if (!checkbox.checked) {
                    for (let i = index + 1; i < feeCheckboxes.length; i++) {
                        feeCheckboxes[i].checked = false;
                        feeCheckboxes[i].disabled = true;
                    }
                }
            });
        });
    });
</script>
{% endblock %}
