{% extends 'base.html' %}

{% block title %} Timbrados {% endblock %}

{% block content %}
<div class="container">
    <h1>Timbrados</h1>

    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Número</th>
                <th scope="col">Válido hasta</th>
                <th scope="col">Número de establecimiento</th>
                <th scope="col">Número de punto de expedición</th>
                <th scope="col" class="col-md-2 text-center"><button class="btn btn-primary" onclick= "window.location.href = '/stampings/create'"><i class="fa fa-plus"></i></button></th>
            </tr>
        </thead>
        <tbody>
            {% for stamping in stampings %}
            <tr>
                <td onclick= "window.location.href = '/stampings/{{ stamping.id }}'" style="cursor: pointer;">{{ stamping.number }}</td>
                <td>{{ stamping.valid_until }}</td>
                <td>{{ stamping.establishment_number }}</td>
                <td>{{ stamping.expedition_point }}</td>
                <td class="text-center"><button class="btn btn-danger" style="margin-top: 1%;" data-bs-toggle="modal" data-bs-target="#deleteModal" data-stamping-id="{{ stamping.id }}"><i class="fa fa-trash"></i></button></td>
            </tr>
            {%  endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if stampings.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ stampings.previous_page_number }}" aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for num in stampings.paginator.page_range %}
            {% if stampings.number == num %}
            <li class="page-item active">
                <span class="page-link">{{ num }}</span>
            </li>
            {% elif num > stampings.number|add:'-3' and num < stampings.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if stampings.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ stampings.next_page_number }}" aria-label="Siguiente">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ stampings.paginator.num_pages }}" aria-label="Última">
                    <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}