.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
    gap: 1rem;
}

.heading > * {
    display: block;
    flex: 1;
    margin: 0;
}

.heading i {
    cursor: pointer;
}

.buscar {
    display: flex;
}

.acciones-container {
    display: flex;
    align-items: center;
    resize: horizontal;
    padding: .3rem;
}

.acciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.scrollable-body tr td {
    min-width: fit-content;
}

.table-container {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
.table-container .table {
    width: 100%;
    height: calc(100vh - 110px);
}

