{% extends './layout/students_base.html' %}
{% load static %}

{% block content %}

<form class="mt-4 d-flex flex-column justify-content-center  w-50 mx-auto p-5 gap-3" id="form" method="POST">
    {% csrf_token %}
    <legend class="text-center">
        Editar alumno
    </legend>
    
    <section class="d-flex gap-3 justify-content-center w-100">
        <article class="w-50">
            <label for="name" class="mb-2 form-label">Nombres</label>
            <input disabled value="{{ student.name }}" class="form-control" id="name" name="name" type="text" autocomplete="off"  />
        </article>
        <article class="w-50">
            <label for="lastName" class="mb-2 form-label">Apellidos</label>
            <input disabled value="{{ student.lastName }}" class="form-control" id="lastName" name="lastName" type="text" autocomplete="off"  />
        </article>
    </section>
    <section class="d-flex gap-3 justify-content-center w-100">
        <article class="w-50">
            <label for="birthDate" class="mb-2 form-label">Fecha de nacimiento</label>
            <input disabled value="{{ student.birthDate }}" class="form-control" id="birthDate" type="date" name="birthDate" autocomplete="off"  />
        </article>
    </section>

    <section class="d-flex gap-3 justify-content-center w-100">
        <article class="w-50">
            <label for="ciNumber" class="mb-2 form-label">Numero de cedula</label>
            <input disabled value="{{ student.ciNumber }}" class="form-control" id="ciNumber" type="text" name="ciNumber" autocomplete="off"  />
        </article>

        <article class="w-50">
            <label for="phone" class="mb-2 form-label">Celular Alumno</label>
            <input value="{{ student.phone }}" class="form-control" id="phone" type="text" name="phone" autocomplete="off"  />
        </article>
        
    </section>

    <section class="d-flex gap-3 justify-content-start align-items-center w-100">
        <article class="w-50">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <label for="country" class="mb-2 form-label">Pais</label>
                <!-- <select class="form-select" id="country" name="country">
                    <option value="">Seleccionar Pais</option>
                    {% for country in country_list %}
                        {% if country.id == student.country.id %}
                            <option selected value="{{ country.id }}">{{ country.name }}</option>
                        {% else %}
                            <option value="{{ country.id }}">{{ country.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select> -->
                <input disabled type="text" value="{{student.country.name}}" />
            </div>
        </article>
        
        <article class="w-50">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <label for="city" class="mb-2 form-label">Ciudad</label>
                <!-- <select class="form-select" id="city" name="city"> -->
                    <!-- <option value="">Seleccionar Ciudad</option>
                    {% for city in city_list %}
                        {% if city.id == student.city.id %}
                            <option selected value="{{ city.id }}">{{ city.name }}</option>
                        {% else %}
                            <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endif %}
                    {% endfor %} -->
                    <input disabled type="text" value="{{student.city.name}}" />
                <!-- </select> -->
            </div>
        </article>

        
    </section>

    <section class="d-flex gap-3 justify-content-center w-100">
        <article class="w-50">
            <label for="email" class="mb-2 form-label">Correo Electronico</label>
            <input value="{{ student.email }}" class="form-control" id="email" type="text" name="email" autocomplete="off" />
        </article>
        <article class="w-50">
            <label for="fatherPhone" class="mb-2 form-label">Celular Padre</label>
            <input value="{{ student.fatherPhone }}" class="form-control" id="fatherPhone" type="text" name="fatherPhone" autocomplete="off" />
        </article>
        
    </section>

    <section class="d-flex gap-3 justify-content-center w-100">
        <article class="w-50">
            <label for="motherPhone" class="mb-2 form-label">Celular Madre</label>
            <input value="{{ student.motherPhone }}" class="form-control" id="motherPhone" type="text" name="motherPhone" autocomplete="off" />
        </article>
    </section>

    <section class="d-flex justify-content-center gap-2">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="/listado_alumnos" class="btn btn-secondary">Cancelar</a>
    </section>
</form>

{% endblock %}
