<div class="table-container">
    <div class="table">
        <table class="table table-bordered" id="table">
            <thead class="fixed-head">
                <tr>
                    <th>
                        Acciones
                    </th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Número de Cédula</th>
                    <th>Teléfono</th>
                    <th>Ciudad</th>
                    <th>Teléfono del Padre</th>
                    <th>Teléfono de la Madre</th>
                </tr>
            </thead>
            <tbody id="tbody" class="scrollable-body">
                {% for student in entity %}
                <tr id={{student.id}}>
                    <td class="acciones-container">
                        <div class="acciones">
                            <button class="btn btn-primary editar" data-id={{student.id}}>
                                <i class="fa-solid fa-pencil editar" data-id={{student.id}}></i>
                            </button>
                            <button data-id={{student.id}} type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                    </td>
                    <td>{{ student.name }}</td>
                    <td>{{ student.lastName }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.birthDate }}</td>
                    <td>{{ student.ciNumber }}</td>
                    <td>{{ student.phone }}</td>
                    <td>{{ student.city.name }}</td>
                    <td>{{ student.fatherPhone }}</td>
                    <td>{{ student.motherPhone }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div>
            {% include '../pagination.html' %}
        </div>
    </div>
</div>