{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Listado de Asistencias</h1>

    <form method="post" class="mt-4" id="form">
        {% csrf_token %}
        <div class="w-100 mb-4 d-flex align-items-center justify-content-center gap-4">
            <div class="w-70 flex-grow-1">
                <select id="curso" name="curso_id" class="form-select">
                    <option selected disabled>Seleccione un curso</option>
                    {% for curso in cursos %}
                        <option value="{{ curso.id }}" {% if selected_curso and selected_curso.id == curso.id %}selected{% endif %}>{{ curso.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <!-- <div class="">
                <button class="btn btn-primary">Descargar PDF</button>
            </div> -->
        </div>

        <div>
            <select id="fecha" class="form-control" disabled></select>
        </div>
    </form>

    <div class="table-responsive mt-4">
        <table id="asistencias_table" class="display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cédula</th>
                    <th>Asistencia</th>
                </tr>
            </thead>
            <tbody id="asistencias_body">
                <!-- Se llena con javascript -->
            </tbody>
        </table>
    </div>

    {% for asistencia in asistencias %}
    <div class="modal fade" id="confirmDeleteModal{{ asistencia.id }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar eliminación</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ¿Estás seguro de que quieres eliminar esta asistencia?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger delete-button" data-asistencia-id="{{ asistencia.id }}">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div id="mensaje-confirmacion" class="alert alert-success" role="alert" style="display: none; position: fixed; top: 10px; right: 10px; z-index: 9999;">
        Asistencia eliminada!
    </div>

    <!-- DataTables CSS and JS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="{% static 'scripts/listado_asistencia.js' %}"></script>
</div>
{% endblock %}
