{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Ver Asistencias</h1>
    <div class="table-responsive mt-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Cédula</th>
                    {% for fecha in fechas %}
                    <th>{{ fecha }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in lista_asistencias %}
                <tr>
                    <td>{{ item.alumno.name }}</td>
                    <td>{{ item.alumno.lastName }}</td>
                    <td>{{ item.alumno.ciNumber }}</td>
                    {% for asistencia in item.asistencias %}
                    <td>{{ asistencia }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
