{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag@3.0.1/dist/css/multi-select-tag.css">
{% endblock %}

{% block content %}

<form action="/registrar_curso/" class="mt-4 d-flex flex-column justify-content-center border w-50 mx-auto p-5 gap-3"
    method="post">
    {% csrf_token %}
    <legend class="text-center">
        Registro de curso
    </legend>

    <section class="d-flex gap-3 justify-content-center w-100">
        <article class="w-50">
            <label for="name" class="mb-2 form-label"> Nombre del Curso </label>
            <input class="form-control" id="name" name="name" type="text" />
        </article>
        <article class="w-50">
            <label for="start_date" class="mb-2 form-label">Fecha de Inicio</label>
            <input class="form-control" id="start_date" type="date" name="start_date" />
        </article>
    </section>

    <section class="d-flex gap-3 justify-content-center w-100">
        <article class="w-50">
            <label for="end_date" class="mb-2 form-label">Fecha de Fin</label>
            <input class="form-control" id="end_date" type="date" name="end_date" />
        </article>
        <article class="w-50">
            <label for="fee_amount" class="mb-2 form-label">Monto Cuota Mensual</label>
            <input class="form-control" id="fee_amount" type="number" name="fee_amount" min="0" max="5000000" />
        </article>
    </section>

    <section class="d-flex gap-3 justify-content-center w-100">
        <article class="w-50">
            <label for="days_per_week" class="mb-2 form-label">Días por Semana</label>
            <select multiple class="form-control" id="days_per_week" name="days_per_week">
                <option value="1">Lunes</option>
                <option value="2">Martes</option>
                <option value="3">Miercoles</option>
                <option value="4">Jueves</option>
                <option value="5">Viernes</option>
                <option value="6">Sabado</option>
            </select>
        </article>
        <article class="w-50">
            <label for="shift" class="mb-2 form-label">Turno</label>
            <select class="form-select" id="shift" name="shift">
                <option value="">Seleccionar turno</option>
                {% for choice in CHOICE_SHIFTS %}
                <option value="{{ choice.id }}">{{ choice.name }}</option>
                {% endfor %}
            </select>
        </article>
    </section>

    <section class="d-flex gap-3 justify-content-center w-100">
        <article class="w-50">
            <label for="section" class="mb-2 form-label">Sección</label>
            <select class="form-select" id="section" name="section">
                <option value="">Seleccionar sección</option>
                {% for choice in CHOICES_SECTIONS %}
                <option value="{{ choice.id }}">{{ choice.name }}</option>
                {% endfor %}
            </select>
        </article>
        <article class="w-50">
            <label for="active" class="mb-2 form-check-label">Curso activo?</label>
            <input class="form-check-input" id="active" type="checkbox" name="active" />
        </article>
    </section>

    <section class="d-flex gap-3 justify-content-center w-100">

        <article class="w-50">
            <label for="active" class="mb-2 form-check-label">Materias</label>
            <select class="form-select" name="subjects" id="subjectsSelect" multiple>
                {% for subject in subject_list %}
                <option value="{{subject.id}}" {% if subject.id in selected_subject_ids %}selected{% endif %}>
                    {{subject.name}}</option>
                {% endfor %}
            </select>
        </article>
        <article class="w-50">
            <label for="teacher" class="mb-2 form-label">Profesor</label>
            <select class="form-select" id="teacher" name="teacher">
                <option value="">Seleccionar profesor</option>
                {% for teacher in teachers %}
                <option value="{{ teacher.id }}">{{ teacher.name }} {{ teacher.lastName }}</option>
                {% endfor %}
            </select>
        </article>
    </section>


    <section class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </section>
</form>
<!-- <script type="module" src="{% static 'scripts/multipleSelect.js' %}"></script> -->
<script src="{% static 'scripts/script.js' %}"></script>
<script src="{% static 'scripts/registrar_curso.js' %}"></script>


{% endblock %}
